<!DOCTYPE html>
<html>

<head>
  <title>
    The Mobile Plus
  </title>
  <link rel='stylesheet' href='/css/main.css' />
</head>

<body>
  <center>
    <h1>The Mobile Plus</h1>
    <p>Welcome to Manu Jemini</p>
    <img src="/images/logo.jpg" style="width: 300px; height: 300px;" class="img-thumbnail">
    <br>
    <a href="/app/themobileplus-1.2.0.apk">
      <h3>Latest App - 1. 2. 0</h3>
      <h4>Released on: 13 december, 2018 12:00 PM</h4>
      <ul>
        <li>On Screen Back Functionality</li>
        <li>Combined store info in store selection screen</li>
      </ul>
    </a>
    <br>
    <a href="/app/themobileplus-1.1.0.apk">
      <h3>Download App - 1. 1. 0</h3>
      <h4>Released on: 10 october, 2018 06:11 PM</h4>
      <ul>
        <li>
          Have Return facility
        </li>
      </ul>
    </a>
    <br>
    <a href="/app/themobileplus-1.0.0.apk">
      <h3>Dowaload App - 1. 0. 0</h3>
      <h4>Released on: 9 october, 2018 10:11 PM</h4>
    </a>
  </center>
</body>

</html>