<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <center>
      <h1>The Mobile Plus</h1>
      <p>Welcome to The Mobile Plus</p>
      <img src="/images/logo.jpg" style="width: 300px; height: 300px;" class="img-thumbnail" >
      <a href="/app/themobileplus.apk">
        <h3>Dowaload App</h3>
      </a>
    </center>
  </body>
</html>
